
/* Globale Formatierung für einige Elemente */
:root {
  --main-max-width: 700px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  font-size: 18px;
  color: #0b0b3b;
  background-color: white;
}

a {
  text-decoration: none;
}

ol {
  list-style-position: inside;
}

/* Homeseite Formatierunen */

.idee {
  max-width: var (--main-max-width);
  margin-right: auto;
  margin-left: auto;
  color: #0b0b3b;
}

.idee h2 {
  text-align: center;
}

.idee p {
  font-size: 18px;
  text-align: center;
}

.bibeltexthome {
  font-size: 24px;
}

/* Teamseite Formatierungen */

.team {
  max-width: var (--main-max-width);
  margin-right: auto;
  margin-left: auto;
  color: #0b0b3b;
}

.team h2 {
  text-align: center;
}

.team p {
  font-size: 18px;
  text-align: center;
}

/* Datenbankseite Tutorial Formatierung */

.dbtut {
  max-width: var (--main-max-width);
  margin-right: auto;
  margin-left: auto;
  color: #0b0b3b;
  text-align: center;
}

/* Datenbankseite Datenbank Formatierung */

.dbtable {
  max-width: var (--main-max-width);
  margin-right: auto;
  margin-left: auto;
  color: #0b0b3b;
}

thead {
  font-weight: bold;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:hover {
  background-color: #c0fcff;
}
