
/* Globale Formatierung für einige Elemente */
:root {
  --main-max-width: 700px;
}

html {
  font-family: Verdana;
  font-size: 16px;
  color: #0b0b3b;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

a {
  text-decoration: none;
}

ol {
  list-style-position: inside;
}

/* Homeseite Formatierunen */

.idee {
  text-align: center;
}


.bibeltexthome {
  font-size: 1.25rem;
}

/* Teamseite Formatierungen */

.team {
  text-align: center;
}


/* Datenbankseite Tutorial Formatierung */

.dbtut {
  text-align: center;
}

/* Datenbankseite Datenbank Formatierung */

.dbtable {
  /* color: #0b0b3b; */
}

thead {
  font-weight: bold;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:hover {
  background-color: #c0fcff;
}
