/** @define Page */

.Page {
  display: flex;
  flex-direction: column;
}

.Page-content {
  max-width: var(--main-max-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--main-padding);
  padding-left: var(--main-padding);
}
